@model FinalProject.Models.Annotation
@*Format for each annotation*@
<tr>
    <td>
        @Html.DisplayNameFor(model => model.content) : @Html.DisplayFor(modelItem => Model.content)
    </td>
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.pageNum) : @Html.DisplayFor(modelItem => Model.pageNum)
    </td>
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.paragraph) : @Html.DisplayFor(modelItem => Model.paragraph)
    </td>
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.filename) : @Html.DisplayFor(modelItem => Model.filename)
    </td>
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.author) : @Html.DisplayFor(modelItem => Model.author)
    </td>
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.VoteVal) : @Html.DisplayFor(modelItem => Model.VoteVal)
    </td>
</tr>

<tr>
    <td>@Html.ActionLink("View Comments", "GoToComments", new { id = Model.AnnotationId })</td>

    @if (this.User.Identity.Name != Model.author)
    {
        <td>
            @Html.ActionLink("Vote", "Edit", new { id = Model.AnnotationId })
        </td>}
</tr>
<tr><td>--------------------------------------------------</td></tr>
@*<td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.id })
  </td>*@
