@model FinalProject.Models.Annotation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Annotation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pageNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pageNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paragraph)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paragraph)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filename)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
